body {
    font-family: Opens, sans-serif;
    font-size: 14px;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #38424B;
}

h4 {
    color: #2F373E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

#form-container {
    width: 100%;
    max-width: 550px;
    padding: 20px;
    margin: 200px auto 0;
}

form {
    display: flex;
    flex-direction: column;
}

form .sn-input-group {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 2px;
}

form input {
    height: 32px;
    padding: 0 2px 0 8px;
}

button {
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
}

.button-primary {
    background-color: #0777CF;
    color: #fff;
    cursor: pointer;
}

.button-secondary {
    background-color: #E3E6E9;
    color: #38424B;
    font-weight: bold;
}

.divider {
    height: 1px;
    background-color: #E3E6E9;
}

.copyright {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #546470;
    text-align: center;
    line-height: 16px;
}

#thank-you-container {
    text-align: center;
    margin-top: 50px;
}

.thank-you-message {
    max-width: 456px;
    margin: 150px auto 0;
}

#thank-you-container p {
    font-size: 14px;
    font-weight: 400;
}
