<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sample App</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="description" content="">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <meta name="theme-color" content="#fafafa">
</head>

<body>
<div id="form-container">
    <div>
        <h4>SignNow's Embedded Signing sample flow</h4>
        <form id="contact-form" action="#" method="post">
            <div class="sn-input-group mb-3">
                <label for="firstNameInput">First name <span class="text-danger">*</span></label>
                <input type="text" placeholder="John" id="firstNameInput" name="firstNameInput" required>
            </div>
            <div class="sn-input-group mb-3">
                <label for="lastNameInput">Last name <span class="text-danger">*</span></label>
                <input type="text" placeholder="Smith" id="lastNameInput" name="lastNameInput" required>
            </div>
            <div class="divider sn-input-group mt-1 mb-3"></div>
            <div class="sn-input-group mb-3">
                <label for="commentArea">Comment</label>
                <input id="commentArea" placeholder="Comment" name="commentArea">
            </div>

            <button type="submit" class="button-primary" id="continueButton">Continue</button>
            <button class="btn btn-dark d-none" id="loadingButton" type="submit" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </form>
        <div class="copyright mt-3">Copyright (c) 2025 airSlate, Inc., SignNow API Sample Application v3.0.1</div>
    </div>
</div>

<div id="thank-you-container" style="display: none;">
    <img src="/img/sign-now.png" alt="signNow" />
    <div class="thank-you-message">
        <img src="/img/doc-completed.png" alt="signNow" class="mb-3" />
        <h4>Your Document Was Sent</h4>
        <p class="mb-4">You have successfully sent a document for signing. Once your document has been signed, you will receive a notification.</p>
        <button type="button" class="button-secondary">Finish Demo</button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const urlParams = new URLSearchParams(window.location.search);
        const thankYouPage = urlParams.has('page') && urlParams.get('page') === 'thank-you';

        const formContainer = document.getElementById('form-container');
        const thankYouContainer = document.getElementById('thank-you-container');

        if (thankYouPage) {
            formContainer.style.display = 'none';
            thankYouContainer.style.display = 'block';
        } else {
            formContainer.style.display = 'block';
            thankYouContainer.style.display = 'none';

            const form = document.getElementById('contact-form');
            form.addEventListener('submit', async (event) => {
                event.preventDefault();

                document.getElementById('loadingButton').classList.remove('d-none');
                document.getElementById('continueButton').classList.add('d-none')

                const firstName = document.getElementById('firstNameInput').value;
                const lastName = document.getElementById('lastNameInput').value;
                const comment = document.getElementById('commentArea').value;

                try {
                    const response = await fetch('/api/samples/EmbeddedInvite', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            first_name: firstName,
                            last_name: lastName,
                            comment: comment,
                        }),
                    });

                    if (response.ok) {
                        const data = await response.json();
                        if (data.link) {
                            window.location.href = data.link;
                        } else {
                            throw new Error('No link received from server');
                        }
                    } else {
                        throw new Error('Failed to send data');
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            });
        }
    });
</script>
</body>
</html>
