<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sample App</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <meta name="theme-color" content="#fafafa">
</head>

<body>

<div id="download-container">
  <img src="/img/sign-now.png" alt="signNow" />
  <div class="thank-you-message">
    <img src="/img/doc-completed.png" alt="signNow" class="mb-3" />
    <h4>Your Document Was Sent</h4>
    <p class="mb-4">You have successfully sent a document for signing. Once your document has been signed, you will receive a notification.</p>
    <button type="button" class="button-secondary">Download Document</button>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const urlParams = new URLSearchParams(window.location.search);

    const downloadButton = document.querySelector('.button-secondary');

    downloadButton.addEventListener('click', async () => {
      try {
        const response = await fetch('/api/samples/EmbeddedSignerPatientIntakeForm', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            document_id: urlParams.get('document_id')  // заменишь на актуальный ID
          })
        });

        if (!response.ok) {
          throw new Error('Ошибка при получении файла');
        }

        const blob = await response.blob();

        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = 'document.pdf';
        document.body.appendChild(a);
        a.click();

        a.remove();
        window.URL.revokeObjectURL(url);
      } catch (error) {
        console.error('Ошибка загрузки документа:', error);
        alert('Не удалось загрузить документ.');
      }
    });


  });
</script>

</body>

</html>
